@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;

    background-color:rgb(255, 255, 255);
}  

#pTitle {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    background-color:rgb(34, 34, 34);
}

#pTitle h1 {
    margin: 0;
    font-size: 65px;
    color: white;
}

#CTXPage {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.p_MyImage {
    width: 50vw;
    height: 100vh;

    min-width: 400px;
    min-height: 400px;

    display: flex;
    justify-content: center; 
    align-items: center;
}

.p_MyImage img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
    transition: scale 0.3s;
}

.p_MyImage img:hover {
    scale: 1.025;
}

#p_AboutMe {
    width: 50vw;
    height: 100vh;

    min-width: 400px;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center; 

    text-align: left;
}

.LinkItems {
    gap: 35px;
    padding: 0;

    display: flex;
    justify-content: left;
}

#p_Copyright {
    width: 100vw;
    height: 5vh;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
}

a {
    transition: scale 0.3s;
}

a:hover {
    scale: 1.075;
}